<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ISS Position</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link th:href="@{/styles/shards.min.css}" rel="stylesheet" />
    </head>
    
    <body>
		<div id="mapDiv"></div>
		
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/shards.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plotly-2.1.0.min.js}"></script>
    
	    <script th:inline="javascript">
	    
	    	var longitude = /*[[${issPosition.longitude}]]*/ '0';
	    	var latitude = /*[[${issPosition.latitude}]]*/ '0';
		
        var data = [{
            type: 'scattergeo',
            mode: 'markers+text',
            text: [
                'ISS'
            ],
            lon: [
            	longitude
            ],
            lat: [
            	latitude
            ],
            marker: {
                size: 7,
                color: [
                    '#bebada', '#fdb462', '#fb8072', '#d9d9d9', '#bc80bd',
                    '#b3de69', '#8dd3c7', '#80b1d3', '#fccde5', '#ffffb3'
                ],
                line: {
                    width: 1
                }
            },
            name: 'Canadian cities',
            textposition: [
                'top right', 'top left', 'top center', 'bottom right', 'top right',
                'top left', 'bottom right', 'bottom left', 'top right', 'top right'
            ],
        }];

        var layout = {
            title: 'International Space Station Position',
            font: {
                family: 'Droid Serif, serif',
                size: 6
            },
            titlefont: {
                size: 16
            },
            geo: {
                scope: 'world',
                showlakes: true,
                lakecolor: '#fff',
                showland: true,
                landcolor: '#EAEAAE',
                countrycolor: '#d3d3d3',
                countrywidth: 1.5,
                subunitcolor: '#d3d3d3'
            }
        };

        Plotly.newPlot('mapDiv', data, layout);
        
        
        </script>
		
    </body>
    
</html>