<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ISS Position</title>
 		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    </head>
    
    <body class="d-flex flex-column min-vh-100">
    
    	<div th:replace="fragments/header :: header"></div>
		<div id="mapDiv"></div>
		<div th:replace="fragments/footer :: footer"></div>
		
    <script type="text/javascript" th:src="@{/js/plotly-2.1.0.min.js}"></script>
    
	    <script th:inline="javascript">
	    
	    	var longitude = /*[[${issPosition.longitude}]]*/ '0';
	    	var latitude = /*[[${issPosition.latitude}]]*/ '0';
		
        var data = [{
            type: 'scattergeo',
            mode: 'markers+text',
            text: [
                'ISS'
            ],
            lon: [
            	longitude
            ],
            lat: [
            	latitude
            ],
            marker: {
                size: 7,
                color: [
                    '#bebada', '#fdb462', '#fb8072', '#d9d9d9', '#bc80bd',
                    '#b3de69', '#8dd3c7', '#80b1d3', '#fccde5', '#ffffb3'
                ],
                line: {
                    width: 1
                }
            },
            name: 'Canadian cities',
            textposition: [
                'top right', 'top left', 'top center', 'bottom right', 'top right',
                'top left', 'bottom right', 'bottom left', 'top right', 'top right'
            ],
        }];

        var layout = {
            title: 'International Space Station Position',
            font: {
                family: 'Droid Serif, serif',
                size: 6
            },
            titlefont: {
                size: 16
            },
            geo: {
                scope: 'world',
                showlakes: true,
                lakecolor: '#fff',
                showland: true,
                landcolor: '#EAEAAE',
                countrycolor: '#d3d3d3',
                countrywidth: 1.5,
                subunitcolor: '#d3d3d3'
            }
        };

        Plotly.newPlot('mapDiv', data, layout);
        
        
        </script>
		
    </body>
    
</html>